body {
    background-color: bisque;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 5px 5px 2px gray;
    transition-duration: 0.5s;
    cursor: pointer;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 5px 5px 5px black; */
    transition-duration: 0.3s;
    cursor: pointer;
}

.rectangle:hover {
    transform: translate(-45%, -45%);
    box-shadow: none;
    background-color: red;
    transition-duration: 0.3s;
}

.rectangle:hover+.circle {
    box-shadow: 5px 5px 5px black;
    transition-duration: 0.3s;
}

.circle:hover {
    box-shadow: inset 5px 5px 5px black;
    background-color: red;
    transition-duration: 0.3s;
}